$black: #34495e;
$violet: #9b59b6;
$blue: #3498db;
$green: #2ecc71;
$teal: #1abc9c;

$grey: #95a5a6;
$white: #ecf0f1;
$red: #e74c3c;
$orange: #e67e22;
$yellow: #f1c40f;

$unit: 12px;
$unit-x0_25: $unit / 4; // 3px
$unit-x0_5: $unit / 2; // 6px
$unit-x1_5: $unit * 1.5; // 18px
$unit-x2: $unit * 2; // 24px
$unit-x2_5: $unit * 2.5; // 30px
$unit-x3: $unit * 3; // 36px
$unit-x4: $unit * 4; // 48px
$unit-x5: $unit * 5; // 60px
$unit-x6: $unit * 6; // 72px
$unit-x7: $unit * 7; // 84px
$unit-x8: $unit * 8; // 96px
